<h1>Listing teams</h1>
<table class="table table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Division</th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= link_to team.name, team_permalink_path(team.permalink) %></td>
    <td><%= team.division %></td>
  </tr>
<% end %>
</table>


