<h1>Listing players</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= link_to player.name, player %></td>
    <td><%= player.position %></td>
  </tr>
<% end %>
</table>
