<h1>
	<% if params[:available] %>
		Listing Non Drafted Players
	<% else %>
		Listing All Players
	<% end %>
</h1>

<p><%= will_paginate @players %></p>

<strong>Filter by position:</strong>
<%= select_tag(:position_filter, options_for_select(positions, params[:position])) %>

<table class="table table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Position</th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= link_to player.name, player_permalink_path(player.permalink) %></td>
    <td><%= player.position %></td>
  </tr>
<% end %>
</table>

